<div class="container pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-block text-center mb-4">
                <span class="white-text badge badge-pill badge-title d-block">
                  <p class="title mx-auto">Proyecto de inteligencia artificial de la upea</p>
                </span>
            </div>
        </div>

        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row text-center img_css">
                            <img src="../../../../assets/img/404imagen.png">
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="row text-center">
                            <h5 class="">Aqui va el # de archivo a subir</h5><br>
                            <form class="">
                                <h6 class="container mb-0 w-100">
                                    <div class="div_file">
                                        <p id="txt"><i class="fas fa-folder-plus"></i> Adicionar Archivo</p>
                                        <input type="file" id="input_file">
                                    </div>
                                    <mat-form-field class="example-full-width">
                                        <mat-label>
                                            <mat-icon matSuffix>mode_edit</mat-icon> Ingrese un comentario</mat-label>
                                        <textarea matInput placeholder=""></textarea>
                                    </mat-form-field>
                                </h6>
                                <div class="mt-2 mx-auto m-3">
                                    <button mat-raised-button type="button" color="warn" class="mr-2"><i class="fas fa-window-close"></i> Cancelar</button>
                                    <button mat-raised-button type="submit" color="primary"><i class="fas fa-share"></i> Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>